---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      FlightCar iOS Design
    </h3>
    <p class="work-title-secondary">
      Product design, visual design, user research, animations. Coming soon to the app store
    </p>
    <%= image_tag "flightcar/flightcar.jpg", class: "work-image-full" %>
    <div class="work-text">
      <p class="work-text-block">
        FlightCar, a company that helps people rent out their cars while they’re on vacation, came to thoughtbot for a complete visual update to their first iOS app. The app posed some unique communications and design challenges as a two-sided market, with users either renting cars or listing their own cars for rent, all taking place near airports across the United States.
      </p>
      <p class="work-text-block">
        Built by FlightCar’s fantastic mobile developers, the functionality of the app was mostly finished and their team had been working on design fixes along the way. Without a designer in-house, they had already identified the need for a designer to come into the project and create “visual polish” and generally update the look and feel of the app, but weren’t sure how to direct design decisions beyond that.
      </p>
    </div>
    <div class="work-image-medium">
      <%= image_tag "flightcar/flightcar-2.png" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I served as the only designer on the project. With only a three-week window before needing to submit to the app store and implementation happening simultaneously, I decided to step back and evaluate the best approach to the problem.
      </p>
      <p class="work-text-block">
        I first identified that the goal of the app was to clearly present the value proposition and help users easily interact with the service. There were definitely some straightforward design decisions that could be made, but not much of an understanding about how users actually interacted with the app.
      </p>
      <p class="work-text-block">
        To gain an understanding of the design challenge, I ran a day of user testing on the current iteration of the app. From there, I was able to prioritize specific design decisions, give the app a visual overhaul, and update the product design and user experience.
      </p>
    </div>
    <div class="work-image-small">
      <%= image_tag "flightcar/flightcar-launch.gif" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I also created two animations that played on the car icon in the FlightCar logo. These were used for the launch screen and the loading gif.
      </p>
      <p class="work-text-block">
        I included some visuals below, and the full case study for FlightCar can be found on <a href="http://thoughtbot.com/work" target="_blank">thoughtbot.com</a>.
      </p>
    </div>
    <div class="work-cta-container">
      <a href="http://thoughtbot.com/work" target="_blank">
        <div class="work-cta-primary">
          View Full Case Study on thoughtbot.com
        </div>
      </a>
    </div>
    <div class="work-image-full">
      <%= image_tag "flightcar/flightcar-3.png" %>
    </div>
    <div class="work-image-full">
      <%= image_tag "flightcar/flightcar-4.png" %>
    </div>
    <div class="work-image-medium image-outline">
      <%= image_tag "flightcar/flightcar-styles.png" %>
    </div>
</section>
