---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>
<div role="main" class="main-container">

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      FlightCar iOS Design
    </h3>
    <p class="work-title-secondary">
      Product design, visual design, user research, animations
    </p>
    <div class="work-cta-container">
      <a href="https://itunes.apple.com/us/app/flightcar-car-sharing-car/id971393285?mt=8" target="_blank">
        <div class="work-cta-primary">
          View in the app store
        </div>
      </a>
    </div>
    <%= image_tag "flightcar/flightcar.jpg", class: "work-image-full" %>
    <div class="work-text">
      <p class="work-text-block">
        FlightCar, a company that helps people rent out their cars while they’re on vacation, came to thoughtbot for a complete visual update to their first iOS app. The app posed some unique communications and design challenges as a two-sided market, with users either renting cars or listing their own cars for rent, all taking place near airports across the United States.
      </p>
      <p class="work-text-block">
        Built by FlightCar’s fantastic mobile developers, the functionality of the app was mostly finished and their team had been working on design fixes along the way. Without a designer in-house, they had already identified the need for a designer to come into the project and create “visual polish” and generally update the look and feel of the app, but weren’t sure how to direct design decisions beyond that.
      </p>
    </div>
    <div class="work-image-medium">
      <%= image_tag "flightcar/flightcar-2.png" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I served as the only designer on the project. With only a three-week window before needing to submit to the app store and implementation happening simultaneously, I decided to step back and evaluate the best approach to the problem.
      </p>
      <p class="work-text-block">
        I first identified that the goal of the app was to clearly present the value proposition and help users easily interact with the service. There were definitely some straightforward design decisions that could be made, but not much of an understanding about how users actually interacted with the app.
      </p>
      <p class="work-text-block">
        To gain an understanding of the design challenge, I ran a day of user testing on the current iteration of the app. From there, I was able to prioritize specific design decisions, give the app a visual overhaul, and update the product design and user experience.
      </p>
    </div>
    <h4 class="work-subtitle">
      User Testing
    </h4>
    <div class="work-image-medium">
      <%= image_tag "flightcar/flightcar-trello.png" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I ran one day of user testing, bringing in people who have a history of renting cars and traveling. Users first walked through the app, narrating their thought process, and finished the test with a short interview to gain some context into their history with similar services and needs while traveling.
      </p>
      <p class="work-text-block">
        By talking to users I found some useful patterns of thought and behavior:
        <ul>
          <li>Specific visual design updates weren’t important to users, who were much more focused on attempting to use the app to fulfill tasks like renting a car.</li>
          <li>No users could fully articulate the business model of FlightCar, even after using the app extensively. Most found the “how it works” section helpful, but didn’t find it easily and still didn’t fully understand FlightCar completely even after reading it.</li>
          <li>Users loved the business model of FlightCar after it was explained to them. Users overwhelmingly said they’d look into using FlightCar on their next trip.</li>
          <li>Major pain points for users were understanding airport pickup and the relationship between FlightCar and airports, finding specific calls-to-action on various screens, and onboarding.</li>
        </ul>
      </p>
      <p class="work-text-block">
      These findings helped me prioritize design tasks, make more confident and efficient decisions, and make design choices based on actual information about users.
      </p>
    </div>
    <h4 class="work-subtitle">
      Applying a New Design
    </h4>
    <div class="work-image-medium image-outline">
      <%= image_tag "flightcar/flightcar-styles.png" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        Global Style Guide:
      </p>
      <p class="work-text-block">
        I worked in collaboration with FlightCar’s talented mobile team and product manager to implement design changes throughout the process. Our initial focus was on updating some styles globally, since we didn’t have time to go through the entire app and create pixel-perfect mock-ups of each screen. The style guide was updated throughout the process as we quickly iterated on design decisions and implementation. Some early decisions included using one consistent font across the entire app, and using the green “accent” color only on items that the user is supposed to interact with.
      </p>
    </div>
    <div class="work-image-full">
      <%= image_tag "flightcar/flightcar-3.png" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        In addition to some global styles, we focused on some problem areas. Since some users were confused as they moved through the app, we updated the arrangement of the side menu, cleaned up some distracting visuals, and pinned buttons to the bottom of screens so they wouldn’t lose their place. Whenever possible, we created one clear call-to-action on each screen, so the user didn’t have multiple options competing for attention. We also moved the “how it works” concept into the sign up flow and collaborated with FlightCar’s marketing team to tweak some of the language based on user feedback.
      </p>
    </div>
    <div class="work-image-full">
      <%= image_tag "flightcar/flightcar-4.png" %>
    </div>
    <h4 class="work-subtitle">
      Added Value: Animations
    </h4>
    <div class="work-image-small">
      <div class="work-image-inline">
        <%= image_tag "flightcar/flightcar-launch.gif" %>
      </div>
      <div class="work-image-inline">
        <%= image_tag "flightcar/flightcar-load.gif" %>
      </div>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        We wanted to make sure the app had touches of personality, and since users responded so positively to the logo, we decided to be playful with the existing logomark. We had a couple of ideas: animate the logo on the app launch screen, and use an animated version of the logo instead of a generic loading spinner. Both animations were created in After Effects and FlightCar’s mobile developers implemented them in the app, giving a feeling of fun throughout the experience.
      </p>
    </div>
    <div class="work-next">
      <a href="/work/middleman">
        <div class="work-next-left">
          <div class="work-next-left-arrow"></div>
          Middleman
        </div>
      </a>
      <a href="/">
        <div class="work-next-cta">
          Return to work
        </div>
      </a>
      <a href="/work/bumr">
        <div class="work-next-right">
          BUMR
          <div class="work-next-right-arrow"></div>
        </div>
      </a>
    </div>
</section>
</div>
