---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      A Friendship Matching Game
    </h3>
    <p class="work-title-secondary">
      Concept, product design, visual design, branding, illustration, front end development, copywriting
    </p>
    <div class="work-cta-container">
    </div>
    <%= image_tag "matching/matching_cards.png", class: "work-image-full image-outline" %>
    <div class="work-text">
      <p class="work-text-block">
        Project Give Back is a side project created to encourage my friends and family to donate to specific organizations in lieu of gifts during birthdays and holidays.
      </p>
      <p class="work-text-block">
        The goal was to create a site that is playful, friendly, and easy to navigate. The final site incorporated illustrations, a "compliment" generator, and colorful branding.
      </p>
    </div>
    <div class="work-image-full">
      <%= image_tag "matching/match2.png", class: "" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        The landing page gives an overview of the project, and summaries of each organization on the list. Users can click to view more about each organization and ultimately donate to the organization.
      </p>
    </div>
    <h4 class="work-subtitle">
      The Game
    </h4>
    <div class="work-center">
      <div class="work-image-inline-small image-outline">
        <%= image_tag "matching/title_match.png", class: "" %>
      </div>
      <div class="work-image-inline-small image-outline">
        <%= image_tag "matching/instructions.png", class: "" %>
      </div>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        The landing page gives an overview of the project, and summaries of each organization on the list. Users can click to view more about each organization and ultimately donate to the organization.
      </p>
    </div>
    <div class="card-container">
      <div class="card antlers">
        <%= image_tag "matching/cards/michelle2.png", class: "" %>
      </div>
      <div class="card lunchbox">
        <%= image_tag "matching/cards/ema7.png", class: "" %>
      </div>
      <div class="card crown">
        <%= image_tag "matching/cards/ema1.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/michelle6.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/michelle9.png", class: "" %>
      </div>
      <div class="card hat">
        <%= image_tag "matching/cards/ema3.png", class: "" %>
      </div>
      <div class="card small-two">
        <%= image_tag "matching/cards/ema10.png", class: "" %>
      </div>
      <div class="card medium">
        <%= image_tag "matching/cards/michelle8.png", class: "" %>
      </div>
      <div class="card small-three">
        <%= image_tag "matching/cards/michelle7.png", class: "" %>
      </div>
      <div class="card hat">
        <%= image_tag "matching/cards/michelle3.png", class: "" %>
      </div>
      <div class="card medium">
        <%= image_tag "matching/cards/ema8.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/michelle10.png", class: "" %>
      </div>
      <div class="card seuss">
        <%= image_tag "matching/cards/michelle5.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/ema6.png", class: "" %>
      </div>
      <div class="card hair">
        <%= image_tag "matching/cards/michelle4.png", class: "" %>
      </div>
      <div class="card large">
        <%= image_tag "matching/cards/michelle1.png", class: "" %>
      </div>
      <div class="card santa">
        <%= image_tag "matching/cards/ema2.png", class: "" %>
      </div>
      <div class="card hair">
        <%= image_tag "matching/cards/ema4.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/ema9.png", class: "" %>
      </div>
      <div class="card seuss">
        <%= image_tag "matching/cards/ema5.png", class: "" %>
      </div>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        The site itself is a Rails site, and the styling was implemented with Bourbon and Neat.  The site is fully responsive and works across major browsers.
      </p>
    </div>
    <h4 class="work-subtitle">
      Playful Touches
    </h4>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "giveback/giveback-404.gif", class: "work-image-full" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        Besides the colorful branding and illustrations, I added playful touches throughout the site. The error pages feature a gif, and the illustrated heads that appear on the landing page rotate slightly on hover.
      </p>
      <p class="work-text-block">
        Since the site is focused on the idea of "giving back", I thought it would be fun to create a compliment generator. The page generates random compliments on refresh, and users can even send a specific compliment to anyone in a tweet right from the page. The compliment generator is a unique way to thank family and friends for participating in Project Give Back.
      </p>
    </div>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "giveback/giveback-compliment.gif", class: "image-outline" %>
    </div>
    <div class="work-next">
      <a href="/work/flightcar">
        <div class="work-next-left-arrow"></div>
        <div class="work-next-left">
          FlightCar
        </div>
      </a>
      <a href="/work">
        <div class="work-next-cta">
          Return to work page
        </div>
      </a>
      <a href="/work/nutella">
        <div class="work-next-right">
          Seven Ounces
        </div>
        <div class="work-next-right-arrow"></div>
      </a>
    </div>
</section>

