---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      Friendship Matching Game
    </h3>
    <p class="text-center">
      A happy little side project for a friend
    </p>
    <div class="work-cta-container">
    </div>
    <%= image_tag "matching/matching_cards.png", class: "work-image-full image-outline" %>
    <div class="work-text">
      <p class="work-text-block">
        It's not every day you run across a genuine, deep friendship. I've been lucky enough to have a best friend for the past 22 years; we grew up across the street from each other, and her family continues to feel like an addition to my own family.
      </p>
      <p class="work-text-block">
        I wanted to find a way to celebrate all our years together. My mom was always very trigger-happy with the camera, which means we have tons of amazing photos documenting many years together. I decided to pick some of my favorites to illustrate and turn into a matching game.
      </p>
    </div>
    <div class="work-image-full">
      <%= image_tag "matching/match2.png", class: "" %>
    </div>
    <div class="work-center">
      <div class="work-image-inline-small image-outline">
        <%= image_tag "matching/title_match.png", class: "" %>
      </div>
      <div class="flip-container work-image-inline-small" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <div class="image-outline">
              <%= image_tag "matching/instructions_level_1.png", class: "" %>
            </div>
          </div>
          <div class="back">
            <div class="image-outline">
              <%= image_tag "matching/instructions_level_2.png", class: "" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-text">
      <p class="work-text-block text-center">
        (Hover over instructions to see level 2)
      </p>
      <p class="work-text-block">
      The game is easy enough. The player gets a set of 20 minicards, each with a different illustration. The goal is to find the matching pairs, with or without a timer. Once the player has mastered this, level two is a multi-player version based on old-school memory games (anyone <a href="http://www.amazon.com/Milton-Bradley-Memory-Picture-Version/dp/B0010B3KMS">remember these</a>?).
      </p>
      <p class="work-text-block">
        Here are all the illustrations:
      </p>
    </div>
    <div class="card-container">
      <div class="card antlers">
        <%= image_tag "matching/cards/michelle2.png", class: "" %>
      </div>
      <div class="card lunchbox">
        <%= image_tag "matching/cards/ema7.png", class: "" %>
      </div>
      <div class="card crown">
        <%= image_tag "matching/cards/ema1.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/michelle6.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/michelle9.png", class: "" %>
      </div>
      <div class="card hat">
        <%= image_tag "matching/cards/ema3.png", class: "" %>
      </div>
      <div class="card small-two">
        <%= image_tag "matching/cards/ema10.png", class: "" %>
      </div>
      <div class="card medium">
        <%= image_tag "matching/cards/michelle8.png", class: "" %>
      </div>
      <div class="card small-three">
        <%= image_tag "matching/cards/michelle7.png", class: "" %>
      </div>
      <div class="card hat">
        <%= image_tag "matching/cards/michelle3.png", class: "" %>
      </div>
      <div class="card medium">
        <%= image_tag "matching/cards/ema8.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/michelle10.png", class: "" %>
      </div>
      <div class="card seuss">
        <%= image_tag "matching/cards/michelle5.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/ema6.png", class: "" %>
      </div>
      <div class="card hair">
        <%= image_tag "matching/cards/michelle4.png", class: "" %>
      </div>
      <div class="card large">
        <%= image_tag "matching/cards/michelle1.png", class: "" %>
      </div>
      <div class="card santa">
        <%= image_tag "matching/cards/ema2.png", class: "" %>
      </div>
      <div class="card hair">
        <%= image_tag "matching/cards/ema4.png", class: "" %>
      </div>
      <div class="card small">
        <%= image_tag "matching/cards/ema9.png", class: "" %>
      </div>
      <div class="card seuss">
        <%= image_tag "matching/cards/ema5.png", class: "" %>
      </div>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I made sure to include a nice spread of ages across the years to capture us at different stages.
      </p>
    </div>
    <div class="work-center">
      <div class="work-image-inline-small image-outline">
        <%= image_tag "matching/answer_deck.png", class: "" %>
      </div>
      <div class="work-image-inline-small">
        <%= image_tag "matching/answer_deck_print.png", class: "" %>
      </div>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        In this game, the really fun part is getting to check your answers. The answer deck includes the original photos the illustrations are based on, as well as the matching illustrations on the flip side.
      </p>
      <p class="work-text-block text-center">
        Hover over the photos to see the matched pairs.
      </p>
    </div>
    <div class="work-center base-spacing">
      <div class="flip-container work-image-inline-small" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <div class="image-outline">
              <%= image_tag "matching/answer_photo9.png", class: "" %>
            </div>
          </div>
          <div class="back">
            <div class="image-outline">
              <%= image_tag "matching/emamichelle9.png", class: "" %>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-container work-image-inline-small" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "matching/answer_photo1.png", class: "" %>
          </div>
          <div class="back">
            <div class="image-outline">
              <%= image_tag "matching/emamichelle1.png", class: "" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-center base-spacing">
      <div class="flip-container work-image-inline-small" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "matching/answer_photo2.png", class: "" %>
          </div>
          <div class="back">
            <div class="image-outline">
              <%= image_tag "matching/emamichelle2.png", class: "" %>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-container work-image-inline-small" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "matching/answer_photo4.png", class: "" %>
          </div>
          <div class="back">
            <div class="image-outline">
              <%= image_tag "matching/emamichelle4.png", class: "" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="work-center base-spacing">
      <div class="flip-container work-image-inline-small" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "matching/answer_photo3.png", class: "" %>
          </div>
          <div class="back">
            <div class="image-outline">
              <%= image_tag "matching/emamichelle3.png", class: "" %>
            </div>
          </div>
        </div>
      </div>
      <div class="flip-container work-image-inline-small" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag "matching/answer_photo10.png", class: "" %>
          </div>
          <div class="back">
            <div class="image-outline">
              <%= image_tag "matching/emamichelle10.png", class: "" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-center">
    Big shoutout to <a href="http://www.moo.com/">Moo</a> for their awesome service and beautiful products.
    </p>
    <div class="work-next">
      <a href="/work/middleman">
        <div class="work-next-left-arrow"></div>
        <div class="work-next-left">
          Middleman
        </div>
      </a>
      <a href="/work">
        <div class="work-next-cta">
          Return to work page
        </div>
      </a>
      <a href="/work/flightcar">
        <div class="work-next-right">
          Flightcar
        </div>
        <div class="work-next-right-arrow"></div>
      </a>
    </div>
</section>

