---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      BUMR iOS Design
    </h3>
    <p class="work-title-secondary">
      Product design, visual design, user testing, branding, animations
    </p>
    <div class="work-cta-container">
      <a href="https://itunes.apple.com/us/app/bumr/id950231385?mt=8" target="_blank">
        <div class="work-cta-primary">
          View In App Store
        </div>
      </a>
    </div>
    <%= image_tag "bumr/bumr.jpg", class: "work-image-full" %>
    <div class="work-text">
      <p class="work-text-block">
        FlightCar, a company that helps people rent out their cars while they’re on vacation, came to thoughtbot for a complete visual update to their first iOS app. The app posed some unique communications and design challenges as a two-sided market, with users either renting cars or listing their own cars for rent, all taking place near airports across the United States.
      </p>
      <p class="work-text-block">
        Built by FlightCar’s fantastic mobile developers, the functionality of the app was mostly finished and their team had been working on design fixes along the way. Without a designer in-house, they had already identified the need for a designer to come into the project and create “visual polish” and generally update the look and feel of the app, but weren’t sure how to direct design decisions beyond that.
      </p>
    </div>
    <div class="work-image-medium">
      <%= image_tag "bumr/bumr-cat.gif" %>
    </div>
    <h4 class="work-subtitle">
      Updated Onboarding flow
    </h4>
    <div class="work-image-full">
      <%= image_tag "bumr/bumr-onboarding-before.png" %>
    </div>
    <i>Onboarding flow before project</i>
    <div class="work-image-medium">
      <%= image_tag "bumr/bumr-onboarding.gif" %>
    </div>
    <div class="work-image-full">
      <%= image_tag "bumr/bumr-onboarding-after.png" %>
    </div>
</section>
