---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      BUMR iOS Design
    </h3>
    <p class="work-title-secondary">
      Product design, visual design, user research, animations
    </p>
    <div class="work-cta-container">
      <a href="https://itunes.apple.com/us/app/bumr/id950231385?mt=8" target="_blank">
        <div class="work-cta-primary">
          View in the app store
        </div>
      </a>
    </div>
    <%= image_tag "bumr/bumr.jpg", class: "work-image-full" %>
    <div class="work-text">
      <p class="work-text-block">
        LIFE'S NOT ONE BIG JOYRIDE. On BUMR, users can share their everyday struggles and enjoy the self-deprication. Think of it as an Instagram for your mess-ups and stresses; life's just better when you share your misadventures with others.
      </p>
      <p class="work-text-block">
        BUMR came to thoughtbot in need of a visual overhaul and some updates to user flows. I served as the only designer on the project, which was a short 2 weeks.
      </p>
    </div>
    <h4 class="work-subtitle">
      User Testing and Re-Architecture
    </h4>
    <div class="work-image-medium">
      <%= image_tag "bumr/bumr-architecture.png" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        Even though we only had a couple of weeks, I felt that user testing was an important way to scope out the solution and prioritize work. Talking to a handful of users and watching them use the app was a great way to get insight into the actual experience of using the app.
      </p>
      <p class="work-text-block">
        One fun example of user research in action was the onboarding process. The client wanted users to tap on an "explore" label that appears at the bottom of the sign in screen, but every single user failed to see it upon opening the app. Users also expressed a lot of affection for the cat character that appeared once in the app, but it also wasn't very present.
      </p>
      <p class="work-text-block">
        My solution was to incorporate the "fun" aspect of the app that users already liked - the cat - and use animation to draw attention to the "explore" option on the main screen. You can see the results below:
      </p>
    </div>
    <div class="work-image-medium">
      <%= image_tag "bumr/bumr-signin-before-test.gif" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I worked on user flows, especially the process of onbaording and adding friends.
      </p>
    </div>
    <div class="work-image">
      <%= image_tag "bumr/bumr-friends.png" %>
    </div>
    <h4 class="work-subtitle">
      Visual Design and Small Touches
    </h4>
    <div class="work-image-medium">
      <%= image_tag "bumr/bumr-tutorial.png" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        I did an overhaul of the entire app, focusing on creating consistent styles and clear calls to action through use of color and icons. I also added some tutorial screens to the app in response to confusion from users during testing.
      </p>
    </div>
    <div class="work-image">
      <%= image_tag "bumr/bumr-app-icon.png" %>
    </div>
    <div class="work-image-medium">
      <%= image_tag "bumr/bumr-explore.gif" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        This project was a great example of how even short sessions with users can move a project forward quickly and efficiently, and create space for intentional design decisions and project management. The app is currently available in the app store.
      </p>
    </div>
    <div class="work-image-medium">
      <%= image_tag "bumr/bumr-cat.gif" %>
    </div>
    <div class="work-next">
      <a href="/work/nutella">
        <div class="work-next-left-arrow"></div>
        <div class="work-next-left">
          Seven Ounces
        </div>
      </a>
      <a href="/work">
        <div class="work-next-cta">
          Return to work page
        </div>
      </a>
      <a href="/work/middleman">
        <div class="work-next-right">
          Middleman
        </div>
        <div class="work-next-right-arrow"></div>
      </a>
    </div>
</section>
