---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      Seven Ounces: A Nutella Project
    </h3>
    <p class="work-title-secondary">
      Product design, visual design, branding, illustration, front end development, copywriting, photography
    </p>
    <div class="work-cta-container">
      <a href="http://sevenounces.com" target="_blank">
        <div class="work-cta-primary">
          View Site
        </div>
      </a>
      <a href="https://github.com/venetucci/SevenOunces" target="_blank">
        <div class="work-cta-secondary">
          View on Github
        </div>
      </a>
    </div>
    <div class="work-image-nav">
    </div>
    <%= image_tag "nutella/nutella-1.jpg", class: "work-image-full image-outline" %>
    <div class="work-text">
      <p class="work-text-block">
        Seven Ounces is a web app that helps users find new and exciting ways to add Nutella into their everyday lives. Users can search nearby locations that serve Nutella or find a great recipe to make at home. I participated in all aspects of the site development and design, with a focus on visual design, user experience, and frontend development. The styling is implemented with Twitter Bootstrap, SCSS, and CSS3, and the app is built with Ruby on Rails and jQuery, and deployed to Heroku.
      </p>
      <p class="work-text-block">
        This project was a collaboration with <a href="https://twitter.com/MarieLucas" target="_blank">Marie</a>.
      </p>
    </div>
    <h4 class="work-subtitle">
      Sketching and product design
    </h4>
    <div class="work-text">
      <p class="work-text-block">
        After coming up with the basic concept and problem statement, we sketched out various ways to implement a solution and create a user-friendly experience.
      </p>
    </div>
    <div class="work-image-small image-outline">
      <%= image_tag "nutella/nutella-style.png", class: "" %>
    </div>
    <div class="work-image-small">
      <%= image_tag "nutella/nutella-sketch.jpg", class: "" %>
    </div>
    <h4 class="work-subtitle">
      Design Iterations in the Browser
    </h4>
    <div class="work-text">
      <p class="work-text-block">
        After coming up with a basic site architecture and branding, we set up the site and iterated on the design in the browser.
      </p>
      <p class="work-text-block">
        The landing page gives users two options - searching for restaurants or recipes - and subsequent pages display images and content on a responsive grid.
      </p>
    </div>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "nutella/nutella-walkthrough-2.gif", class: "" %>
    </div>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "nutella/nutella-tweet.gif", class: "" %>
    </div>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "nutella/nutella-footer.jpg", class: "" %>
    </div>
    <h4 class="work-subtitle">
      Food Photography
    </h4>
    <div class="work-text">
      <p class="work-text-block">
        All photography on the site was was styled and shot by us. We used the photography as background images and as a part of the site footer.
      </p>
    </div>
    <div class="work-image-full">
      <%= image_tag "nutella/nutella-photos.png", class: "image-outline" %>
    </div>
    <h4 class="work-subtitle">
      Implementation: APIs, jQuery, and Rails
    </h4>
    <div class="work-image-small">
      <%= image_tag "nutella/nutella-stack.png", class: "" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        The front-end  was implemented with Twitter Bootstrap and SCSS. The back-end is Ruby on Rails, and the app is deployed to Heroku. We also used APIs from Yelp and Yummly to power search results.
      </p>
    </div>
      <%= image_tag "nutella/nutella-responsive.gif", class: "" %>
    </div>
</section>

