---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<!-- <section class="body-content-container"> -->
<section class="work-container wrap-container">
  <div class="work-intro">
    I'm Michelle, a Product Designer in San Francisco
  </div>
</section>

<section class="work-container wrap-container">
  <h3 class="landing-work-header">
    Work
  </h3>


<div class="landing-work-featured">
    <div id="slide-up" class="effects clearfix">
      <a href="/work/middleman" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-middleman.png" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
            Middleman Web App
          </div>
          <div>
            thoughtbot 2015
          </div>
        </div>
      </a>
      <a href="/work/flightcar" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-flightcar.jpg" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
            Flightcar iOS App
          </div>
          <div>
            thoughtbot 2015
          </div>
        </div>
      </a>
      <a href="/work/bumr" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-bumr.jpg" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
            BUMR iOS App
          </div>
          <div>
            thoughtbot 2015
          </div>
        </div>
      </a>
    </div>
  </div>
</section>


<section class="work-container wrap-container">
  <h3 class="landing-work-header">
    Play
  </h3>

<div class="landing-work-featured">
    <div id="slide-up" class="effects clearfix">
      <a href="/work/love" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-love.png" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
            Love is Love Project
          </div>
          <div>
            Personal 2016
          </div>
        </div>
      </a>
      <a href="/work/nerdbot" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-slackbot.png" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
          Nerdbot, a Custom Slackbot
          </div>
          <div>
            Personal 2016
          </div>
        </div>
      </a>
      <a href="/work/swift" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-minimeet.jpg" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
            Swift Prototypes
          </div>
          <div>
            Codepath 2015, 2016
          </div>
        </div>
      </a>
      <a href="/work/giveback" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-giveback.png" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
            Project Give Back
          </div>
          <div>
            Personal 2015
          </div>
        </div>
      </a>
      <a href="/work/matching" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-matching.png" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
            Friend Matching
          </div>
          <div>
            Personal 2015
          </div>
        </div>
      </a>
      <a href="/work/illustrations" class="landing-work-featured-project">
        <div class="landing-work-featured-image">
          <%= image_tag "feature-illustrations.png" %>
        </div>
        <div class="featured-work-subtitle-group">
          <div class="featured-work-subtitle">
            Illustrations
          </div>
          <div>
            Personal 2015 - Present
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- </section> -->
