---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      Middleman Site Design
    </h3>
    <p class="work-title-secondary">
      User Research, UX, Visual Design & Branding, Implementation
    </p>
    <div class="work-cta-container">
      <a href="http://middlemanapp.com" target="_blank">
        <div class="work-cta-primary">
          View Site
        </div>
      </a>
      <a href="https://github.com/middleman/middleman" target="_blank">
        <div class="work-cta-secondary">
          View on Github
        </div>
      </a>
    </div>
    <div class="work-image-nav">
    </div>
    <%= image_tag "middleman/middleman-1.png", class: "work-image-full" %>
    <div class="work-text">
      <p class="work-text-block">
        Middleman is a static site generator using all the shortcuts and tools in modern web development. It's built on Ruby, and can be used to get static sites up and running quickly and painlessly.
      </p>
      <p class="work-text-block">
        Like any good web framework, Middleman has a documentation site that aims to help people understand the tool, use the tool easily, troubleshoot problems, and contribute changes to open-source features. The existing documentation site needed a brand-overhaul, as well as some attention to the overall organization of documentation, messaging, and user experience.
      </p>
      <p class="work-text-block">
        This project was a collaboration with <a href="http://twitter.com/carolanncan" target="_blank">Carolann</a> and <a href="http://twitter.com/lisasy" target="_blank">Lisa</a>.
      </p>
    </div>
    <%= image_tag "middleman/middleman-before.jpg", class: "work-image-full" %>
    <i>
      Middleman site design before the project
    </i>
    <h4 class="work-subtitle">
      Landing Page UX and Branding
    </h4>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "middleman/middleman.gif", class: "image-outline" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        The entire site needed a branding overhaul and attention to user experience. We came up with a new color palette and typography guide, and updated the logo.
      </p>
      <p class="work-text-block">
        The current site tagline was "makes developing websites simple", which didn't fully convey what Middleman could do for users. We brainstormed a succinct tagline for the hero section of the landing page, and then used the rest of the landing page to tell a story about the benefits of using Middleman.
      </p>
      <p class="work-text-block">
        The current navigation was a site-architecture style block of links on the landing page, which was a bit overwhelming for users. We identified that the main purpose of the site for most users was to access documentation, so we created a global navigation bar that highlighted the docs at the top of the page.
      </p>
    </div>
    <h4 class="work-subtitle">
      Organizing Documentation
    </h4>
    <%= image_tag "middleman/middleman-cards.jpg", class: "work-image-full" %>
    <div class="work-text">
      <p class="work-text-block">
        Since well-organized and easy to read documentation is the core of the website's purpose, we wanted to take a step back and look at how the docs were organized. We ran a series of card sorting surveys to gather user feedback on the most logical way to group sections of the documentation. We also took special consideration with design decisions like typography, line height, and the way code blocks are displayed.
      </p>
    </div>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "middleman/middleman-doc.gif", class: "image-outline" %>
    </div>
    <h4 class="work-subtitle">
      Illustrations
    </h4>
    <div class="work-image-medium">
      <%= image_tag "middleman/middleman-icons.png", class: "" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        Since blocks of text and links are hard to scan quickly, we created custom illustrations to use throughout the site, which helped convey information about Middleman.
      </p>
    </div>
      <%= image_tag "middleman/middleman-2.png", class: "" %>
    <h4 class="work-subtitle">
      Implementation: Bourbon & Neat
    </h4>
    <div class="work-image-medium">
      <%= image_tag "middleman/middleman-implement.jpg", class: "" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        The site itself is a Middleman site, and the styling was implemented with Bourbon and Neat. We used mixins and variables along with partials for re-usable modules, creating a maintainable front-end.
      </p>
      <p class="work-text-block">
        The site is fully responsive and works across major browsers.
      </p>
    </div>
    <div class="work-image-medium">
      <%= image_tag "middleman/middleman-responsive.gif", class: "image-outline" %>
    </div>
    <h4 class="work-subtitle">
      The Launch
    </h4>
    <div class="work-image-medium">
      <%= image_tag "middleman/middleman-launch.png", class: "image-outline" %>
    </div>

    <div class="work-next">
      <a href="/work/bumr">
        <div class="work-next-left-arrow"></div>
        <div class="work-next-left">
          BUMR
        </div>
      </a>
      <a href="/work">
        <div class="work-next-cta">
          Return to work page
        </div>
      </a>
      <a href="/work/flightcar">
        <div class="work-next-right">
          FlightCar
        </div>
        <div class="work-next-right-arrow"></div>
      </a>
    </div>
</section>

