---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>

<section class="about wrap-container body-content-container">
    <h3 class="work-title">
      Middleman Site Design
    </h3>
    <div class="work-image-nav">
    </div>
    <%= image_tag "middleman/middleman-1.png", class: "work-image-full" %>
    <h4>
      The project
    </h4>
    <div class="work-text">
      <p class="work-text-block">
        Middleman is a static site generator using all the shortcuts and tools in modern web development. It's built on Ruby, and can be used to get static sites up and running quickly and painlessly.
      </p>
    </div>
    <%= image_tag "middleman/middleman-before.jpg", class: "work-image-full" %>
    <i>
      Middleman site design before the project
    </i>
    <div class="work-text">
      <p class="work-text-block">
        Like any good web framework, Middleman has a documentation site that aims to help people understand the tool, use the tool easily, troubleshoot problems, and contribute changes to open-source features. The existing documentation site needed a brand-overhaul, as well as some attention to the overall organization of documentation, messaging, and user experience.
      </p>
      <p class="work-text-block">
        Project a collaboration with <a href="http://twitter.com/carolanncan" target="_blank">Carolann</a> and <a href="http://twitter.com/lisasy" target="_blank">Lisa</a>.
      </p>
    </div>
    <h4>
      Landing Page UX and Branding
    </h4>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "middleman/middleman.gif", class: "image-outline" %>
    </div>
    <h4>
      Documentation
    </h4>
    <%= image_tag "middleman/middleman-cards.jpg", class: "work-image-full" %>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "middleman/middleman-doc.gif", class: "image-outline" %>
    </div>
    <h4>
      Illustrations
    </h4>

    <div class="work-image-medium">
      <%= image_tag "middleman/middleman-icons.png", class: "" %>
    </div>
      <%= image_tag "middleman/middleman-2.png", class: "" %>
</section>


