---
title: Michelle Venetucci Harvey
---

<%= partial "layouts/partials/nav" %>
<div role="main" class="main-container">

<section class="about wrap-container body-content-container">
  <h3 class="work-title">
    Project Giveback
  </h3>
  <p class="work-title-secondary">
    UX, visual design, branding, illustration, implementation
  </p>
    <div class="work-cta-container">
      <a href="https://www.julianandmichellegiveback.com/" target="_blank">
        <div class="work-cta-primary">
          View Site
        </div>
      </a>
      <a href="https://github.com/venetucci/giveback" target="_blank">
        <div class="work-cta-secondary">
          View on Github
        </div>
      </a>
    </div>
    <div class="work-image-nav">
    </div>
    <%= image_tag "giveback/giveback-1.png", class: "work-image-full image-outline" %>
    <div class="work-text">
      <p class="work-text-block">
        Project Give Back is a side project created to encourage my friends and family to donate to specific organizations in lieu of gifts during birthdays and holidays.
      </p>
      <p class="work-text-block">
        The goal was to create a site that is playful, friendly, and easy to navigate. The final site incorporated illustrations, a "compliment" generator, and colorful branding.
      </p>
    </div>
    <div class="work-image-medium image-outline">
      <%= image_tag "giveback/giveback-style.png", class: "" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        The landing page gives an overview of the project, and summaries of each organization on the list. Users can click to view more about each organization and ultimately donate to the organization.
      </p>
    </div>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "giveback/giveback-walkthrough.gif", class: "" %>
    </div>
    <h4 class="work-subtitle">
      Implementation: Bourbon & Neat
    </h4>
    <div class="work-image-medium">
      <%= image_tag "giveback/giveback-responsive.png", class: "image-outline" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        The site itself is a Rails site, and the styling was implemented with Bourbon and Neat.  The site is fully responsive and works across major browsers.
      </p>
    </div>
    <h4 class="work-subtitle">
      Playful Touches
    </h4>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "giveback/giveback-404.gif", class: "work-image-full" %>
    </div>
    <div class="work-text">
      <p class="work-text-block">
        Besides the colorful branding and illustrations, I added playful touches throughout the site. The error pages feature a gif, and the illustrated heads that appear on the landing page rotate slightly on hover.
      </p>
      <p class="work-text-block">
        Since the site is focused on the idea of "giving back", I thought it would be fun to create a compliment generator. The page generates random compliments on refresh, and users can even send a specific compliment to anyone in a tweet right from the page. The compliment generator is a unique way to thank family and friends for participating in Project Give Back.
      </p>
    </div>
    <div class="work-image-medium">
      <div class="work-image-nav">
      </div>
      <%= image_tag "giveback/giveback-compliment.gif", class: "image-outline" %>
    </div>
    <div class="work-next">
      <a href="/work/swift">
        <div class="work-next-left">
          <div class="work-next-left-arrow"></div>
          Swift Prototypes
        </div>
      </a>
      <a href="/">
        <div class="work-next-cta">
          Return to work
        </div>
      </a>
      <a href="/work/matching">
        <div class="work-next-right">
          Matching Game
          <div class="work-next-right-arrow"></div>
        </div>
      </a>
    </div>
</section>
</div>
