---
title: Michelle Venetucci Harvey
---
<%= partial "layouts/partials/landing-nav" %>

<header class="hero">
  <%= image_tag "hero-laptop.png", class: "js-load-animations hero-laptop" %>
  <%= image_tag "hero-desktop.png", class: "js-load-animations hero-desktop" %>
  <%= image_tag "coffee-froth.gif", class: "js-load-animations hero-coffee" %>
  <div class="hero-notebook js-static-load-animations">
    <p class="hero-notebook-text">
      This site is a work in progress.
    </p>
    <p class="hero-notebook-text">
      Please check back <br />again soon!
    </p>
    <div class="hero-notebook-sketch">
      <div class="hero-notebook-sketch-one">
      </div>
      <div class="hero-notebook-sketch-two">
      </div>
      <div class="hero-notebook-sketch-three">
      </div>
    </div>
  </div>
  <%= image_tag "mouse.png", class: "js-load-animations hero-mouse" %>
  <div class="hero-text js-static-load-animations">
    <h1 class="hero-title">
      Michelle Venetucci Harvey
    </h1>
    <h3 class="hero-subtitle">
      Product Designer with an affinity for Swift, currently at <a href="http://thoughtbot.com" target="_blank">thoughtbot</a>.
    </h3>
  </div>
  <ul class="hero-keyboard js-static-load-animations">
    <% 14.times do %>
      <li class="hero-keyboard-key">
      </li>
    <% end %>
  </ul>
</header>

<section class="landing-about wrap-container body-content-container">
    <div class="landing-about-text">
      <h3>
        I like to design and code
      </h3>
      <p class="landing-about-text-details">
        I enjoy user-centered design processes and building amazing products.
      </p>
      <div class="landing-about-tools">
        Tools of choice: Vim, Github, Bourbon, Neat, Xcode, Sketch, Illustrator, Trello
      </div>
      <ul class="landing-about-skills skills-column-one">
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter product-design">
          </div>
          <div class="landing-about-skill">
            Product Design
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter visual-design">
          </div>
          <div class="landing-about-skill">
            Visual Design
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter CSS3">
          </div>
          <div class="landing-about-skill">
            CSS3/Sass
          </div>
        </li>
      </ul>
      <ul class="landing-about-skills skills-column-two">
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter haml">
          </div>
          <div class="landing-about-skill">
            HAML/Slim/erb
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter swift">
          </div>
          <div class="landing-about-skill">
            iOS/Swift
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter git">
          </div>
          <div class="landing-about-skill">
            Git
          </div>
        </li>
      </ul>
      <ul class="landing-about-skills skills-column-three">
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter haml">
          </div>
          <div class="landing-about-skill">
            User Research
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter swift">
          </div>
          <div class="landing-about-skill">
            Interaction Design
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter project-management">
          </div>
          <div class="landing-about-skill">
            Project Management
          </div>
        </li>
      </ul>
    </div>
</section>

<section class="landing-work wrap-container body-content-container">
  <h3 class="landing-work-header">
    Recent Work
  </h3>
  <p class="landing-work-header-subtitle">
    User Research, Design, Development
  </p>
  <a href="/work" class="primary-cta landing-work-cta">
    View All Work
  </a>

  <div class="landing-work-featured">
    <div id="slide-up" class="effects clearfix">
      <div class="landing-work-featured-image">
        <%= image_tag "feature-middleman.png" %>
        <div class="overlay">
          <a href="/work/middleman" class="expand">Middleman Site Redesign</a>
          <a href="/work/middleman" class="expand-subtitle" target="_blank">User Research, UX, Visual Design & Branding, Implementation</a>
          <a href="/work/middleman" class="expand-button">Case Study</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
      <div class="landing-work-featured-image">
        <%= image_tag "feature-flightcar.jpg" %>
        <div class="overlay">
          <a href="/work/flightcar" class="expand">FlightCar iOS Design</a>
          <a href="/work/flightcar" class="expand-subtitle">Product design, visual design, user research, animations. Now in the app store.
          <a href="/work/flightcar" class="expand-button">Case Study</a>
          <a class="close-overlay hidden"></a>
        </div>
      </div>
      <div class="landing-work-featured-image image-outline">
        <%= image_tag "animated-sutro.gif", :class => "image-animation" %>
        <div class="overlay">
          <a href="https://dribbble.com/mvenetucci" class="expand">Animations and Illustrations</a>
          <a href="https://dribbble.com/mvenetucci" class="expand-subtitle">Animations with Swift and After Effects, Illustrations with Sketch and Illustrator.</a>
          <a href="https://dribbble.com/mvenetucci" class="expand-button">See On Dribbble</a>
          <a class="close-overlay hidden"></a>
        </div>
      </div>
    </div>
  </div>
</section>

