---
title: Michelle Venetucci Harvey
---
<%= partial "layouts/partials/landing-nav" %>

<header class="hero">
  <%= image_tag "hero-laptop.png", class: "js-load-animations hero-laptop" %>
  <%= image_tag "hero-desktop.png", class: "js-load-animations hero-desktop" %>
  <%= image_tag "coffee-froth.gif", class: "js-load-animations hero-coffee" %>
  <%= image_tag "hero-phone.png", class: "js-load-animations hero-phone" %>
  <%= image_tag "mouse.png", class: "js-load-animations hero-mouse" %>
  <div class="hero-text js-static-load-animations">
    <h1 class="hero-title">
      Michelle Venetucci Harvey
    </h1>
    <h3 class="hero-subtitle">
      Pixel pusher and indoor enthusiast, currently a Product Designer at <a href="https://www.lyft.com/" target="_blank">Lyft</a>.
    </h3>
  </div>
  <ul class="hero-keyboard js-static-load-animations">
    <% 14.times do %>
      <li class="hero-keyboard-key">
      </li>
    <% end %>
  </ul>
</header>
