---
title: Michelle Venetucci Harvey
---

<header class="hero">
  <div class="hero-laptop">
  </div>
  <div class="hero-desktop">
  </div>
  <div class="hero-coffee">
  </div>
  <div class="hero-notebook">
    <p class="hero-notebook-text">
      This site is a work in progress.
    </p>
    <p class="hero-notebook-text">
      Please check back <br />again soon!
    </p>
    <div class="hero-notebook-sketch">
      <div class="hero-notebook-sketch-one">
      </div>
      <div class="hero-notebook-sketch-two">
      </div>
      <div class="hero-notebook-sketch-three">
      </div>
    </div>
  </div>
  <div class="hero-mouse">
  </div>
  <h1 class="hero-title">
    Michelle Venetucci Harvey
  </h1>
  <h3 class="hero-subtitle">
    Product Designer with an affinity for Swift, currently at <a href="http://thoughtbot.com" target="_blank">thoughtbot</a>.
  </h3>
  <ul class="hero-keyboard">
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
    <li class="hero-keyboard-key">
    </li>
  </ul>
</header>

<section class="landing-about wrap-container body-content-container">
    <div class="landing-about-image">
    </div>
    <div class="landing-about-text">
      <h3>
        I like to design and code
      </h3>
      <p class="landing-about-text-details">
        I enjoy minimalism in life and the process of creation.
      </p>
      <ul class="landing-about-skills skills-column-one">
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter product-design">
          </div>
          <div class="landing-about-skill">
            Product Design
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter visual-design">
          </div>
          <div class="landing-about-skill">
            Visual Design
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter CSS3">
          </div>
          <div class="landing-about-skill">
            CSS3/Sass
          </div>
        </li>
      </ul>
      <ul class="landing-about-skills skills-column-two">
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter haml">
          </div>
          <div class="landing-about-skill">
            HAML/Slim/erb
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter swift">
          </div>
          <div class="landing-about-skill">
            iOS/Swift/Xcode
          </div>
        </li>
        <li>
          <div class="landing-about-skill-background">
          <div class="landing-about-skill-meter project-management">
          </div>
          <div class="landing-about-skill">
            Project Management
          </div>
        </li>
      </ul>
      <div class="landing-about-tools">
        Tools of choice: Vim, Github, Bourbon, Neat, Xcode, Sketch, Illustrator, Trello
      </div>
      <a href="/about">
        <div class="primary-cta">
          About Me
        </div>
      </a>
    </div>
</section>

<section class="landing-work wrap-container body-content-container">
  <h3 class="landing-work-header">
    Recent Work
  </h3>
  <p class="landing-work-header-subtitle">
    (case studies coming soon)
  </p>
  <a href="http://dribbble.com/mvenetucci" target="_blank" class="primary-cta landing-work-cta">
    See more on Dribbble
  </a>

  <div class="landing-work-featured">
    <div id="slide-up" class="effects clearfix">
      <div class="landing-work-featured-image">
        <%= image_tag "feature-middleman.png" %>
        <div class="overlay">
          <a href="https://middlemanapp.com/" class="expand">Middleman Site Redesign</a>
          <a href="https://middlemanapp.com/" class="expand-subtitle" target="_blank">Product design, visual design, branding, illustration, front end development.</a>
          <a href="https://middlemanapp.com/" class="expand-button">Visit Site</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
      <div class="landing-work-featured-image image-outline">
        <%= image_tag "feature-giveback.png" %>
        <div class="overlay">
          <a href="https://www.julianandmichellegiveback.com/" class="expand">Project Giveback</a>
          <a href="https://www.julianandmichellegiveback.com/" class="expand-subtitle" target="_blank">Product design, visual design, branding, illustration, front end development, copywriting.</a>
          <a href="https://www.julianandmichellegiveback.com/" class="expand-button">Visit Site</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
      <div class="landing-work-featured-image">
        <%= image_tag "feature-minimeet.jpg" %>
        <div class="overlay">
          <a href="https://dribbble.com/shots/2025490-Sign-in-and-onboarding" class="expand">Minimeet iOS Prototype</a>
          <a href="https://dribbble.com/shots/2025490-Sign-in-and-onboarding" class="expand-subtitle" target="_blank">Product design, visual design, branding, iOS/Swift/Xcode development.</a>
          <a href="https://dribbble.com/shots/2025490-Sign-in-and-onboarding" class="expand-button">See On Dribbble</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
      <div class="landing-work-featured-image">
        <%= image_tag "feature-flightcar.jpg" %>
        <div class="overlay">
          <a href="https://itunes.apple.com/us/app/flightcar-car-sharing-car/id971393285?mt=8" class="expand">FlightCar iOS Design</a>
          <a href="https://itunes.apple.com/us/app/flightcar-car-sharing-car/id971393285?mt=8" class="expand-subtitle">Product design, visual design, user research, animations.</a>
          <a href="https://itunes.apple.com/us/app/flightcar-car-sharing-car/id971393285?mt=8" class="expand-button">See In App Store</a>
          <a class="close-overlay hidden"></a>
        </div>
      </div>
      <div class="landing-work-featured-image">
        <%= image_tag "feature-nutella.jpg" %>
        <div class="overlay">
          <a href="http://www.sevenounces.com/" class="expand">Seven Ounces</a>
          <a href="http://www.sevenounces.com/" class="expand-subtitle">Product design, visual design, branding, illustration, front end development, copywriting, photography.</a>
          <a href="http://www.sevenounces.com/" class="expand-button">Visit Site</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
      <div class="landing-work-featured-image">
        <%= image_tag "feature-bumr.jpg" %>
        <div class="overlay">
          <a href="https://itunes.apple.com/us/app/bumr/id950231385?mt=8" class="expand">BUMR iOS Design</a>
          <a href="https://itunes.apple.com/us/app/bumr/id950231385?mt=8" class="expand-subtitle">Product design, visual design, user testing, branding, animations.</a>
          <a href="https://itunes.apple.com/us/app/bumr/id950231385?mt=8" class="expand-button">See In App Store</a>
          <a class="close-overlay hidden"></a>
        </div>
      </div>
      <div class="landing-work-featured-image image-outline">
        <%= image_tag "animated-sutro.gif", :class => "image-animation" %>
        <div class="overlay">
          <a href="https://dribbble.com/mvenetucci" class="expand">Animations and Illustrations</a>
          <a href="https://dribbble.com/mvenetucci" class="expand-subtitle">Animations with Swift and After Effects, Illustrations with Sketch and Illustrator.</a>
          <a href="https://dribbble.com/mvenetucci" class="expand-button">See On Dribbble</a>
          <a class="close-overlay hidden"></a>
        </div>
      </div>
      <div class="landing-work-featured-image">
        <%= image_tag "feature-coaching.png" %>
        <div class="overlay">
          <a href="https://robots.thoughtbot.com/ios-coaching-product-design-sprint" class="expand">Creating a Coaching Program</a>
          <a href="https://robots.thoughtbot.com/ios-coaching-product-design-sprint" class="expand-subtitle">User research, design sprint, product design, visual design, copywriting.</a>
          <a href="https://robots.thoughtbot.com/ios-coaching-product-design-sprint" class="expand-button">Read More</a>
          <a class="close-overlay hidden">x</a>
        </div>
      </div>
    </div>
  </div>
</section>

